
<%-include("navbar.ejs")%>


<div class="container card card-body">
    <div class="row">
        <div class="col-md-12">
            <h1>Add Brand</h1>
        </div>
        <form action="/admin/save_brand" method="post" enctype="multipart/form-data">
           <div class="row">    
                <div class="col-md-6 mb-3">
                    <label class="label">Enter Brand Name</label>
                    <input type="text" name="brand_name" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label class="label">Select Brand Image</label>
                    <input type="file" name="brand_image" class="form-control">
                </div>
                <div class="col-md-12 mb-3 ">
                    <label class="label">Enter Brand Details</label>
                    <textarea name="brand_details" rows="4" class="form-control"></textarea>
                </div>
                <div class="col-md-12 mb-3 text-center">
                    <button class="btn btn-primary">Save Brand</button>
                </div>
           </div>
        </form>
    </div>
</div>

<%-include("footer.ejs")%>

