
   <%-include("navbar.ejs")%>
    <!-- header slider -->
    <div>
      <div class="swiper hero-header">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="hero-slider-one d-flex align-items-center">
              <div class="container">
                <div class="row">
                  <div class="col-lg-5 col-12">
                    <div class="text-white text-center text-md-start">
                      <div class="bg-white rounded-circle brand-img me-auto mb-3">
                        <img src="/user_assets/img/brand-logo/brand-1.png" alt="brand-logo" class="img-fluid p-4 ">
                      </div>
                      <div class="fw-bold display-1">NEW IN</div>
                      <p class="pb-3">Explore this week's lateest menwear pieces of the season curated for you Autumn Winter man Collection</p>
                      <a href="#" class="btn btn-light btn-lg rounded-0 px-5">VIEW ALL</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hero-slider-two d-flex align-items-center">
              <div class="container">
                <div class="row justify-content-end">
                  <div class="col-lg-5 col-12">
                    <div class="text-white text-center text-md-end">
                      <div class="bg-white rounded-circle brand-img ms-auto mb-3">
                        <img src="/user_assets/img/brand-logo/brand-3.png" alt="brand-logo" class="img-fluid p-4">
                      </div>
                      <div class="fw-bold display-1">TRENDING</div>
                      <p class="pb-3">Explore this week's lateest menwear pieces of the season curated for you Autumn Winter man Collection</p>
                      <a href="#" class="btn btn-light btn-lg rounded-0 px-5">VIEW ALL</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hero-slider-three d-flex align-items-center">
              <div class="container">
                <div class="row justify-content-start">
                  <div class="col-lg-5 col-12">
                    <div class="text-white text-center text-md-start">
                      <div class="bg-white rounded-circle brand-img me-auto mb-3">
                        <img src="/user_assets/img/brand-logo/brand-5.png" alt="brand-logo" class="img-fluid p-4">
                      </div>
                      <div class="fw-bold display-1">FASHION</div>
                      <p class="pb-3">Explore this week's lateest menwear pieces of the season curated for you Autumn Winter man Collection</p>
                      <a href="#" class="btn btn-light btn-lg rounded-0 px-5">VIEW ALL</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hero-slider-four d-flex align-items-center">
              <div class="container">
                <div class="row justify-content-end">
                  <div class="col-lg-5 col-12">
                    <div class="text-white text-center text-md-end">
                      <div class="bg-white rounded-circle brand-img ms-auto mb-3">
                        <img src="/user_assets/img/brand-logo/brand-8.png" alt="brand-logo" class="img-fluid p-4">
                      </div>
                      <div class="fw-bold display-1">UPCOMINGS</div>
                      <p class="pb-3">Explore this week's lateest menwear pieces of the season curated for you Autumn Winter man Collection</p>
                      <a href="#" class="btn btn-light btn-lg rounded-0 px-5">VIEW ALL</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev">
          <i class="ri-arrow-left-s-line ri-3x text-dark"></i>
        </div>
        <div class="swiper-button-next">
          <i class="ri-arrow-right-s-line ri-3x text-dark"></i>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <!-- sort by product -->
    <div class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-between g-4 mb-4">
          <div class="col-auto">
            <h4 class="fw-bold mb-0">Shop By Product</h4>
          </div>
          <div class="col-auto">
            <a href="#" class="link-dark">SEE ALL <i class="ri-arrow-right-line ms-1"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="swiper shop-by-products-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-0">
                    <img src="/user_assets/img/category/tops.jpg" class="card-img-top rounded-0" alt="tops">
                    <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-3">
                      <p class="card-title mb-0">TOPS</p>
                      <a href="discover.html" class="link-dark stretched-link">
                        <i class="ri-arrow-right-s-line ri-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-0">
                    <img src="/user_assets/img/category/bottoms.jpg" class="card-img-top rounded-0" alt="bottoms">
                    <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-3">
                      <p class="card-title mb-0">BOTTOMS</p>
                      <a href="#" class="link-dark stretched-link">
                        <i class="ri-arrow-right-s-line ri-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-0">
                    <img src="/user_assets/img/category/footwear.jpg" class="card-img-top rounded-0" alt="footwear">
                    <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-3">
                      <p class="card-title mb-0">FOOTWEARS</p>
                      <a href="discover.html" class="link-dark stretched-link">
                        <i class="ri-arrow-right-s-line ri-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-0">
                    <img src="/user_assets/img/category/outerwear.jpg" class="card-img-top rounded-0" alt="outerwear">
                    <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-3">
                      <p class="card-title mb-0">OUTERWEAR</p>
                      <a href="discover.html" class="link-dark stretched-link">
                        <i class="ri-arrow-right-s-line ri-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-0">
                    <img src="/user_assets/img/category/bags.jpg" class="card-img-top rounded-0" alt="bags">
                    <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-3">
                      <p class="card-title mb-0">BAGS</p>
                      <a href="discover.html" class="link-dark stretched-link">
                        <i class="ri-arrow-right-s-line ri-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-0">
                    <img src="/user_assets/img/category/wallets.jpg" class="card-img-top rounded-0" alt="wallets">
                    <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-3">
                      <p class="card-title mb-0">WALLETS</p>
                      <a href="discover.html" class="link-dark stretched-link">
                        <i class="ri-arrow-right-s-line ri-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-0">
                    <img src="/user_assets/img/category/accessories.jpg" class="card-img-top rounded-0" alt="accessories">
                    <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between p-3">
                      <p class="card-title mb-0">ACCESSORIES</p>
                      <a href="discover.html" class="link-dark stretched-link">
                        <i class="ri-arrow-right-s-line ri-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev">
                <i class="ri-arrow-left-circle-fill ri-3x text-dark"></i>
              </div>
              <div class="swiper-button-next">
                <i class="ri-arrow-right-circle-fill ri-3x text-dark"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Shop by collections -->
    <div class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-between g-4 mb-4">
          <div class="col-auto">
            <h4 class="fw-bold mb-0">Shop By Collections</h4>
          </div>
          <div class="col-auto">
            <a href="collections.html" class="link-dark">SEE ALL <i class="ri-arrow-right-line ms-1"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="swiper shop-by-collections-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-0">
                    <img src="/user_assets/img/collections/collection-1.jpg" class="card-img-top rounded-0" alt="collections">
                    <div class="card-footer bg-transparent border-0 p-4">
                      <div class="d-flex align-items-center justify-content-between mb-1">
                        <h6 class="mb-0">The Camouflage Collection</h6>
                        <a href="collection-single.html" class="link-dark stretched-link">
                          <i class="ri-arrow-right-line ri-lg"></i>
                        </a>
                      </div>
                      <p class="text-secondary-emphasis mb-0">There is a widely-accepted belief camouflage</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-0">
                    <img src="/user_assets/img/collections/collection-2.jpg" class="card-img-top rounded-0" alt="collections">
                    <div class="card-footer bg-transparent border-0 p-4">
                      <div class="d-flex align-items-center justify-content-between mb-1">
                        <h6 class="mb-0">Shia LaBeouf: The Source</h6>
                        <a href="collection-single.html" class="link-dark stretched-link">
                          <i class="ri-arrow-right-line ri-lg"></i>
                        </a>
                      </div>
                      <p class="text-secondary-emphasis mb-0">There is a widely-accepted belief camouflage</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-0">
                    <img src="/user_assets/img/collections/collection-3.jpg" class="card-img-top rounded-0" alt="collections">
                    <div class="card-footer bg-transparent border-0 p-4">
                      <div class="d-flex align-items-center justify-content-between mb-1">
                        <h6 class="mb-0">Speedy Shippers: Vintage Levi's Denim</h6>
                        <a href="collection-single.html" class="link-dark stretched-link">
                          <i class="ri-arrow-right-line ri-lg"></i>
                        </a>
                      </div>
                      <p class="text-secondary-emphasis mb-0">There is a widely-accepted belief camouflage</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-0">
                    <img src="/user_assets/img/collections/collection-4.jpg" class="card-img-top rounded-0" alt="collections">
                    <div class="card-footer bg-transparent border-0 p-4">
                      <div class="d-flex align-items-center justify-content-between mb-1">
                        <h6 class="mb-0">Addidas Top Collections</h6>
                        <a href="collection-single.html" class="link-dark stretched-link">
                          <i class="ri-arrow-right-line ri-lg"></i>
                        </a>
                      </div>
                      <p class="text-secondary-emphasis mb-0">There is a widely-accepted belief camouflage</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev">
                <i class="ri-arrow-left-circle-fill ri-3x text-dark"></i>
              </div>
              <div class="swiper-button-next">
                <i class="ri-arrow-right-circle-fill ri-3x text-dark"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- What's new -->
    <div class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-between g-4 mb-4">
          <div class="col-auto">
            <h4 class="fw-bold mb-0">What's New</h4>
          </div>
          <div class="col-auto">
            <a href="#" class="link-dark">SEE ALL <i class="ri-arrow-right-line ms-1"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="swiper what-new-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100 product">
                    <div class="position-relative">
                      <img src="/user_assets/img/whats-new/new-1.jpg" class="card-img-top rounded-0" alt="what's-new">
                      <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                        <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                          <i class="ri-heart-line ri-lg"></i>
                        </a>
                        <div class="product-content position-absolute bottom-0 p-3 w-100">
                          <a href="#" class="btn btn-light rounded-0 d-flex align-items-center justify-content-between">
                            <i class="ri-shopping-bag-line"></i>
                            <div>ADD TO CART</div>
                            <span class="px-1"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="card-body pb-0 px-0">
                      <h6 class="card-title text-truncate mb-1">The Good Earth® Cotton Slub Henley </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between px-0">
                      <h6 class="mb-0">₹17,565</h6>
                      <a href="#" class="link-dark opacity-0 overlay" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="SEND">
                        <i class="ri-send-plane-2-line ri-lg"></i>
                      </a>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100 product">
                    <div class="position-relative">
                      <img src="/user_assets/img/whats-new/new-2.jpg" class="card-img-top rounded-0" alt="what's-new">
                      <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                        <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                          <i class="ri-heart-line ri-lg"></i>
                        </a>
                        <div class="product-content position-absolute bottom-0 p-3 w-100">
                          <a href="#" class="btn btn-light rounded-0 d-flex align-items-center justify-content-between">
                            <i class="ri-shopping-bag-line"></i>
                            <div>ADD TO CART</div>
                            <span class="px-1"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="card-body pb-0 px-0">
                      <h6 class="card-title text-truncate mb-1">The Relaxed Organic Chambray Shirt </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between px-0">
                      <h6 class="mb-0">₹17,565</h6>
                      <a href="#" class="link-dark opacity-0 overlay" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="SEND">
                        <i class="ri-send-plane-2-line ri-lg"></i>
                      </a>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100 product">
                    <div class="position-relative">
                      <img src="/user_assets/img/whats-new/new-3.jpg" class="card-img-top rounded-0" alt="what's-new">
                      <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                        <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                          <i class="ri-heart-line ri-lg"></i>
                        </a>
                        <div class="product-content position-absolute bottom-0 p-3 w-100">
                          <a href="#" class="btn btn-light rounded-0 d-flex align-items-center justify-content-between">
                            <i class="ri-shopping-bag-line"></i>
                            <div>ADD TO CART</div>
                            <span class="px-1"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="card-body pb-0 px-0">
                      <h6 class="card-title text-truncate mb-1">The Organic Taper Jean </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between px-0">
                      <h6 class="mb-0">₹17,565</h6>
                      <a href="#" class="link-dark opacity-0 overlay" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="SEND">
                        <i class="ri-send-plane-2-line ri-lg"></i>
                      </a>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100 product">
                    <div class="position-relative">
                      <img src="/user_assets/img/whats-new/new-4.jpg" class="card-img-top rounded-0" alt="what's-new">
                      <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                        <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                          <i class="ri-heart-line ri-lg"></i>
                        </a>
                        <div class="product-content position-absolute bottom-0 p-3 w-100">
                          <a href="#" class="btn btn-light rounded-0 d-flex align-items-center justify-content-between">
                            <i class="ri-shopping-bag-line"></i>
                            <div>ADD TO CART</div>
                            <span class="px-1"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="card-body pb-0 px-0">
                      <h6 class="card-title text-truncate mb-1">Bomber jacket </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between px-0">
                      <h6 class="mb-0">₹17,565</h6>
                      <a href="#" class="link-dark opacity-0 overlay" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="SEND">
                        <i class="ri-send-plane-2-line ri-lg"></i>
                      </a>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100 product">
                    <div class="position-relative">
                      <img src="/user_assets/img/whats-new/new-5.jpg" class="card-img-top rounded-0" alt="what's-new">
                      <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                        <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                          <i class="ri-heart-line ri-lg"></i>
                        </a>
                        <div class="product-content position-absolute bottom-0 p-3 w-100">
                          <a href="#" class="btn btn-light rounded-0 d-flex align-items-center justify-content-between">
                            <i class="ri-shopping-bag-line"></i>
                            <div>ADD TO CART</div>
                            <span class="px-1"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="card-body pb-0 px-0">
                      <h6 class="card-title text-truncate mb-1">The Canvas Organic Cotton Overshirt </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between px-0">
                      <h6 class="mb-0">₹17,565</h6>
                      <a href="#" class="link-dark opacity-0 overlay" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="SEND">
                        <i class="ri-send-plane-2-line ri-lg"></i>
                      </a>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100 product">
                    <div class="position-relative">
                      <img src="/user_assets/img/whats-new/new-6.jpg" class="card-img-top rounded-0" alt="what's-new">
                      <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                        <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                          <i class="ri-heart-line ri-lg"></i>
                        </a>
                        <div class="product-content position-absolute bottom-0 p-3 w-100">
                          <a href="#" class="btn btn-light rounded-0 d-flex align-items-center justify-content-between">
                            <i class="ri-shopping-bag-line"></i>
                            <div>ADD TO CART</div>
                            <span class="px-1"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="card-body pb-0 px-0">
                      <h6 class="card-title text-truncate mb-1">Regular Fit Terry resort shirt </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between px-0">
                      <h6 class="mb-0">₹17,565</h6>
                      <a href="#" class="link-dark opacity-0 overlay" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="SEND">
                        <i class="ri-send-plane-2-line ri-lg"></i>
                      </a>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100 product">
                    <div class="position-relative">
                      <img src="/user_assets/img/whats-new/new-7.jpg" class="card-img-top rounded-0" alt="what's-new">
                      <div class="overlay position-absolute start-0 end-0 top-0 bottom-0 opacity-0 bg-dark bg-opacity-75 d-flex align-items-center h-100">
                        <a href="#" class="link-light position-absolute top-0 end-0 m-3">
                          <i class="ri-heart-line ri-lg"></i>
                        </a>
                        <div class="product-content position-absolute bottom-0 p-3 w-100">
                          <a href="#" class="btn btn-light rounded-0 d-flex align-items-center justify-content-between">
                            <i class="ri-shopping-bag-line"></i>
                            <div>ADD TO CART</div>
                            <span class="px-1"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="card-body pb-0 px-0">
                      <h6 class="card-title text-truncate mb-1">The Brushed Flannel Shirt </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 d-flex align-items-center justify-content-between px-0">
                      <h6 class="mb-0">₹17,565</h6>
                      <a href="#" class="link-dark opacity-0 overlay" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="SEND">
                        <i class="ri-send-plane-2-line ri-lg"></i>
                      </a>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev">
                <i class="ri-arrow-left-circle-fill ri-3x text-dark"></i>
              </div>
              <div class="swiper-button-next">
                <i class="ri-arrow-right-circle-fill ri-3x text-dark"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Trending style -->
    <div class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-between g-4 mb-4">
          <div class="col-auto">
            <h4 class="fw-bold mb-0">Trending styles</h4>
          </div>
          <div class="col-auto">
            <a href="#" class="link-dark">SEE ALL <i class="ri-arrow-right-line ms-1"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="swiper trending-style-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100">
                    <img src="/user_assets/img/trending-style/trending-style-1.jpg" class="card-img-top rounded-0" alt="discount">
                    <div class="card-body pb-0 px-0">
                      <p class="small text-secondary-emphasis mb-1">CAPSUL</p>
                      <h6 class="card-title text-truncate mb-1">Skinny Fit Cargo joggers </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-0">
                      <h6 class="mb-0">₹1,759.00</h6>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100">
                    <img src="/user_assets/img/trending-style/trending-style-2.jpg" class="card-img-top rounded-0" alt="discount">
                    <div class="card-body pb-0 px-0">
                      <p class="small text-secondary-emphasis mb-1">JAYWALKING</p>
                      <h6 class="card-title text-truncate mb-1">Relaxed Fit Printed hoodie </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-0">
                      <h6 class="mb-0">₹1,269.00</h6>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100">
                    <img src="/user_assets/img/trending-style/trending-style-3.jpg" class="card-img-top rounded-0" alt="discount">
                    <div class="card-body pb-0 px-0">
                      <p class="small text-secondary-emphasis mb-1">NIKE</p>
                      <h6 class="card-title text-truncate mb-1">Relaxed Fit Single-breasted jacket </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-0">
                      <h6 class="mb-0">₹3,299.00</h6>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100">
                    <img src="/user_assets/img/trending-style/trending-style-4.jpg" class="card-img-top rounded-0" alt="discount">
                    <div class="card-body pb-0 px-0">
                      <p class="small text-secondary-emphasis mb-1">ZARA</p>
                      <h6 class="card-title text-truncate mb-1">Satin baseball jacket </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-0">
                      <h6 class="mb-0">₹2,199.00</h6>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100">
                    <img src="/user_assets/img/trending-style/trending-style-5.jpg" class="card-img-top rounded-0" alt="discount">
                    <div class="card-body pb-0 px-0">
                      <p class="small text-secondary-emphasis mb-1">BIBA</p>
                      <h6 class="card-title text-truncate mb-1">Regular Fit Teddy-lined overshirt </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-0">
                      <h6 class="mb-0">₹1,799.00</h6>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100">
                    <img src="/user_assets/img/trending-style/trending-style-6.jpg" class="card-img-top rounded-0" alt="discount">
                    <div class="card-body pb-0 px-0">
                      <p class="small text-secondary-emphasis mb-1">ADDIDAS</p>
                      <h6 class="card-title text-truncate mb-1">Relaxed Fit Corduroy shirt </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-0">
                      <h6 class="mb-0">₹1,299.00</h6>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100">
                    <img src="/user_assets/img/trending-style/trending-style-7.jpg" class="card-img-top rounded-0" alt="discount">
                    <div class="card-body pb-0 px-0">
                      <p class="small text-secondary-emphasis mb-1">DIVE</p>
                      <h6 class="card-title text-truncate mb-1">Oversized Fit Printed T-shirt </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-0">
                      <h6 class="mb-0">₹979.00</h6>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100">
                    <img src="/user_assets/img/trending-style/trending-style-8.jpg" class="card-img-top rounded-0" alt="discount">
                    <div class="card-body pb-0 px-0">
                      <p class="small text-secondary-emphasis mb-1">DIVE</p>
                      <h6 class="card-title text-truncate mb-1">Oversized Fit Printed jersey top </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-0">
                      <h6 class="mb-0">₹899.00</h6>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev">
                <i class="ri-arrow-left-circle-fill ri-3x text-dark"></i>
              </div>
              <div class="swiper-button-next">
                <i class="ri-arrow-right-circle-fill ri-3x text-dark"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Discount store -->
    <div class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-between g-4 mb-4">
          <div class="col-auto">
            <h4 class="fw-bold mb-0">Discount Store</h4>
          </div>
          <div class="col-auto">
            <a href="#" class="link-dark">SEE ALL <i class="ri-arrow-right-line ms-1"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="swiper discount-store-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100">
                    <div class="position-relative">
                      <img src="/user_assets/img/discount/discount-1.jpg" class="card-img-top rounded-0" alt="discount">
                      <span class="badge text-bg-danger rounded-0 shadow-sm px-2 py-1 fs-12 position-absolute start-0 m-3">30% OFF</span>
                    </div>
                    <div class="card-body pb-0 px-0">
                      <p class="small text-secondary-emphasis mb-1">CAPSUL</p>
                      <h6 class="card-title text-truncate mb-1">Relaxed Fit Cotton T-shirt </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-0">
                      <h6 class="mb-0">
                        <del class="text-dark-emphasis fw-normal small">₹1,299.00</del> ₹909.00
                      </h6>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100">
                    <div class="position-relative">
                      <img src="/user_assets/img/discount/discount-2.jpg" class="card-img-top rounded-0" alt="discount">
                      <span class="badge text-bg-danger rounded-0 shadow-sm px-2 py-1 fs-12 position-absolute start-0 m-3">50% OFF</span>
                    </div>
                    <div class="card-body pb-0 px-0">
                      <p class="small text-secondary-emphasis mb-1">JAYWALKING</p>
                      <h6 class="card-title text-truncate mb-1">Cropped rugby shirt </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-0">
                      <h6 class="mb-0">
                        <del class="text-dark-emphasis fw-normal small">₹1,299.00</del> ₹649.00
                      </h6>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100">
                    <div class="position-relative">
                      <img src="/user_assets/img/discount/discount-3.jpg" class="card-img-top rounded-0" alt="discount">
                      <span class="badge text-bg-danger rounded-0 shadow-sm px-2 py-1 fs-12 position-absolute start-0 m-3">40% OFF</span>
                    </div>
                    <div class="card-body pb-0 px-0">
                      <p class="small text-secondary-emphasis mb-1">NIKE</p>
                      <h6 class="card-title text-truncate mb-1">Relaxed Fit Printed hoodie </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-0">
                      <h6 class="mb-0">
                        <del class="text-dark-emphasis fw-normal small">₹2,299.00</del> ₹1,379.00
                      </h6>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100">
                    <div class="position-relative">
                      <img src="/user_assets/img/discount/discount-4.jpg" class="card-img-top rounded-0" alt="discount">
                      <span class="badge text-bg-danger rounded-0 shadow-sm px-2 py-1 fs-12 position-absolute start-0 m-3">50% OFF</span>
                    </div>
                    <div class="card-body pb-0 px-0">
                      <p class="small text-secondary-emphasis mb-1">ZARA</p>
                      <h6 class="card-title text-truncate mb-1">Oversized baseball jacket </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-0">
                      <h6 class="mb-0">
                        <del class="text-dark-emphasis fw-normal small">₹3,999.00</del> ₹1,999.00
                      </h6>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100">
                    <div class="position-relative">
                      <img src="/user_assets/img/discount/discount-5.jpg" class="card-img-top rounded-0" alt="discount">
                      <span class="badge text-bg-danger rounded-0 shadow-sm px-2 py-1 fs-12 position-absolute start-0 m-3">30% OFF</span>
                    </div>
                    <div class="card-body pb-0 px-0">
                      <p class="small text-secondary-emphasis mb-1">BIBA</p>
                      <h6 class="card-title text-truncate mb-1">Straw hat </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-0">
                      <h6 class="mb-0">
                        <del class="text-dark-emphasis fw-normal small">₹999.00</del> ₹699.00
                      </h6>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100">
                    <div class="position-relative">
                      <img src="/user_assets/img/discount/discount-6.jpg" class="card-img-top rounded-0" alt="discount">
                      <span class="badge text-bg-danger rounded-0 shadow-sm px-2 py-1 fs-12 position-absolute start-0 m-3">35% OFF</span>
                    </div>
                    <div class="card-body pb-0 px-0">
                      <p class="small text-secondary-emphasis mb-1">ADDIDAS</p>
                      <h6 class="card-title text-truncate mb-1">Trainers shoes </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-0">
                      <h6 class="mb-0">
                        <del class="text-dark-emphasis fw-normal small">₹2,999.00</del> ₹1,949.00
                      </h6>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100">
                    <div class="position-relative">
                      <img src="/user_assets/img/discount/discount-7.jpg" class="card-img-top rounded-0" alt="discount">
                      <span class="badge text-bg-danger rounded-0 shadow-sm px-2 py-1 fs-12 position-absolute start-0 m-3">55% OFF</span>
                    </div>
                    <div class="card-body pb-0 px-0">
                      <p class="small text-secondary-emphasis mb-1">DIVE</p>
                      <h6 class="card-title text-truncate mb-1">Ribbed cashmere scarf </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US 180X30 / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-0">
                      <h6 class="mb-0">
                        <del class="text-dark-emphasis fw-normal small">₹3,999.00</del> ₹1,799.00
                      </h6>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-transparent border-0 rounded-0 h-100">
                    <div class="position-relative">
                      <img src="/user_assets/img/discount/discount-8.jpg" class="card-img-top rounded-0" alt="discount">
                      <span class="badge text-bg-danger rounded-0 shadow-sm px-2 py-1 fs-12 position-absolute start-0 m-3">50% OFF</span>
                    </div>
                    <div class="card-body pb-0 px-0">
                      <p class="small text-secondary-emphasis mb-1">DIVE</p>
                      <h6 class="card-title text-truncate mb-1">Cropped rugby shirt </h6>
                      <p class="card-text text-secondary-emphasis mb-0">Size: US XL / EU 56/ 4</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 px-0">
                      <h6 class="mb-0">
                        <del class="text-dark-emphasis fw-normal small">₹1,299.00</del> ₹649.00
                      </h6>
                    </div>
                    <a href="product-detail.html" class="stretched-link"></a>
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev">
                <i class="ri-arrow-left-circle-fill ri-3x text-dark"></i>
              </div>
              <div class="swiper-button-next">
                <i class="ri-arrow-right-circle-fill ri-3x text-dark"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Trending brands -->
    <div class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-between g-4 mb-4">
          <div class="col-auto">
            <h4 class="fw-bold mb-0">Trending Brands</h4>
          </div>
          <div class="col-auto">
            <a href="#" class="link-dark">SEE ALL <i class="ri-arrow-right-line ms-1"></i>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="swiper trending-brands-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-circle p-5 h-100">
                    <img src="/user_assets/img/brand-logo/brand-1.png" class="card-img-top" alt="brand-logo">
                    <a href="brand.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-circle p-5 h-100">
                    <img src="/user_assets/img/brand-logo/brand-2.png" class="card-img-top" alt="brand-logo">
                    <a href="brand.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-circle p-5 h-100">
                    <img src="/user_assets/img/brand-logo/brand-3.png" class="card-img-top" alt="brand-logo">
                    <a href="brand.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-circle p-5 h-100">
                    <img src="/user_assets/img/brand-logo/brand-4.png" class="card-img-top" alt="brand-logo">
                    <a href="brand.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-circle p-5 h-100">
                    <img src="/user_assets/img/brand-logo/brand-5.png" class="card-img-top" alt="brand-logo">
                    <a href="brand.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-circle p-5 h-100">
                    <img src="/user_assets/img/brand-logo/brand-6.png" class="card-img-top" alt="brand-logo">
                    <a href="brand.html" class="stretched-link"></a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="card bg-light border-0 rounded-circle p-5 h-100">
                    <img src="/user_assets/img/brand-logo/brand-7.png" class="card-img-top" alt="brand-logo">
                    <a href="brand.html" class="stretched-link"></a>
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev">
                <i class="ri-arrow-left-circle-fill ri-3x text-dark"></i>
              </div>
              <div class="swiper-button-next">
                <i class="ri-arrow-right-circle-fill ri-3x text-dark"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <%-include("footer.ejs")%>
    
    